.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title {
  font-family: 'Cardo', serif;
  color: #2F4858;
  text-align:center;
}

.title-aside {
  color: #4C2600;
  font-style: italic;
  font-weight: 700;
  font-size: 1.5rem;
}

.main-container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  padding:1.5em;
  background-color: #E5F0FF;

}