.main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem;
}

.title {
  font-family: 'Cardo', serif;
  color: #2F4858;
  text-align:center;
  position: relative;
}


.title-aside {
  color: #4C2600;
  font-style: italic;
  font-weight: 700;
  font-size: 1.5rem;
}

.main-container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #E5F0FF; */

}

@media screen and (min-width: 768px) {
  .main-container {
    max-width: 1600px;
    flex-basis: 90%;
  }
}