@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}


html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.6;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  background: none;
}