.result-paragraph {
   background-color: rgba(232, 174, 48, .7);
   padding: 1.5em;
   margin-top: 1.5rem;
   border-radius: 5px;
}

.result-paragraph-text {
    font-size: 1.1rem;
    color: #2F4858;

}